body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    color: #2c3e50;
    text-align: center;
}

p {
    color: #555;
    line-height: 1.6;
}

section {
    margin: 20px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
}

h2 {
    color: #16a085;
    margin-bottom: 10px;
}

#galeria img {
    width: calc(19% - 10px);  /* Ajusta el tamaño de las imágenes */
    height: auto;
    max-height: 150px; /* Limita la altura máxima de las imágenes */
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

form {
    margin-top: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

label {
    display: block;
    margin: 5px 0;
    font-weight: bold;
}

input, select, textarea {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="submit"] {
    width: auto;
    background-color: #16a085;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
}

input[type="submit"]:hover {
    background-color: #149174;
}